:root {
  /* Текстовые константы */
  --auth-title: "АВТОРИЗИРУЙТЕСЬ 👾";
  --auth-button: "telegram";

  --auth-success: "Успешная аутентификация";

  --coupon-title: "ПОДКЛЮЧИТЬСЯ";
  --coupon-subtitle: "Для этого нужно жмякнуть по кнопке ниже";
  --coupon-button: "ПОДКЛЮЧИТЬСЯ";
  --×: "×";
}
