/* Стили страницы аутентификации */
.auth-title::after {
  content: var(--auth-title);
}

.auth-button::after {
  content: var(--auth-button);
}

.auth-success::after {
  content: var(--auth-success);
}